<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title">Welcome on your personal hub</h1>
      <p class="subtitle">
        Here, are presented the future features.
      </p>

      <ul>
        <li>
          <a href="/github-dashboard" target="_blank">Github Dashboard</a>
        </li>

        <li>
          <a href="/projects-ideas" target="_blank">Projects Ideas</a>
        </li>

        <li>
          <a href="/google-news" target="_blank">Google news</a>
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
